<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <meta charset="utf-8" />
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/ViewApp/ModuleInitialization.js"></script>
    <script src="~/ViewApp/DnDobjects/DnDAppController.js"></script>
    <script src="~/ViewApp/DnDobjects/CharacterSheetProvider.js"></script>
    <script src="~/ViewApp/DnDobjects/RaceProvider.js"></script>
    <script src="~/ViewApp/DnDobjects/Directives/CharacterSheetDirective.js"></script>
    <script src="~/ViewApp/DnDobjects/Directives/CharacterSheetDirectives/AbilityScoresDirective.js"></script>
    <script src="~/ViewApp/DnDobjects/Directives/CharacterSheetDirectives/RaceSelectorDirective.js"></script>
</head>
<body ng-app="DnDmodule" ng-controller="dndAppController">
    <button ng-click="createResource()"></button>
    <character-sheet-directive sheet="sheet"></character-sheet-directive>
</body>
</html>